<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Todo List With MongoDB</title>
</head>
<body>
  <h1>Todo List</h1>
  <input type="hidden" id="csrf_token" value="{{.CSRFToken}}">
<ul>
    {{range .Todos}}
        {{if .Completed}}
            <li class="done">{{.Title}}</li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul>
</body>
</html>